<!-- <div style="display: block;">
  <div style="margin: 50px;">
    <app-display></app-display>
  </div>
  <div style="margin: 50px;">
    <app-button></app-button>
  </div>
  <div style="margin: 50px;">
    <app-custom></app-custom>
  </div>
</div> -->

<mat-toolbar color="primary">
  <span>NGRX</span>
   <a routerLink="/Home" mat-button>Home</a>
   <a routerLink="/counter"  mat-button>About</a>
   <a  routerLink="/Blog" mat-button>Contact</a>
 </mat-toolbar>
 
 <router-outlet></router-outlet>